<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title><%= message %> | wg14.link</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <h1>wg14.link</h1>
  <p>Error <%= status %> - <%= message %></p>
  <% if (description) { %><p><%= description %></p><% } %>
  <% if (stack) { %><pre><%= stack %></pre><% } %>
  <p><a href="/">return to index</a></p>
</body>

</html>
